TECHNICAL_WRITING_DB_URL='jdbc:mysql://127.0.0.1:3306/technical_writing?connectionTimeZone=UTC&forceConnectionTimeZoneToSession=true'
TECHNICAL_WRITING_DB_USERNAME=application_user
TECHNICAL_WRITING_DB_PASSWORD=''

TECHNICAL_WRITING_TEST_DB_URL='jdbc:mysql://127.0.0.1:3306/technical_writing_test?connectionTimeZone=UTC&forceConnectionTimeZoneToSession=true'
TECHNICAL_WRITING_TEST_DB_USERNAME=test_user
TECHNICAL_WRITING_TEST_DB_PASSWORD=''
